.navbar .navbar-nav {
  display: inline-block;
  float: none;
    ertical-align: top;
}
  
.navbar .navbar-collapse {
  text-align: center;
}

#bigHeader{
  position: relative;
  left: 40%;
}

#searchBox {
  position: fixed;
  top: 100px;
  display: inline-block;
}

#searchButton {
  background-color: blue;
  color: white;
}

#histBox {
  position: fixed;
  top: 200px;
  left: 40px;
}

.histCell{
  width: 240px;
  display: block;
}

.jumbotron {
  display: inline;
  position: fixed;
  top: 100px;
  left: 400px;
  width: 60%;
  height: 60%;
}

.card{
  width: 100px;
  height: 125px;
}

#card1 {
  position: fixed;
  bottom: 0px;
  right: 750px;
}

#card2 {
  position: fixed;
  bottom: 0px;
  right: 625px;
}

#card3 {
  position: fixed;
  bottom: 0px;
  right: 500px;
}

#card4 {
  position: fixed;
  bottom: 0px;
  right: 375px;
}

#card5 {
  position: fixed;
  bottom: 0px;
  right: 250px;
}

.dataBox {
  padding: 10px;
}

#UVBox {
  width: 40px;
}

@media only screen and (max-width: 800px) {
  .jumbotron {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
  }

  #bigHeader {
    left: 100px;
  }
}